*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html, body{
    height: 100%;
    width: 100%
}
#main{
    height: 100%;
    width: 100%;
    background-color: lightgray;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
#nav>h1{
    font-size: 50px;
    font-weight: 90;
    font-family: monument;
    display: flex;
}
#nav{
    height: 100px;
    width: 100%;
    
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
#part2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#part2 a{
    text-decoration: none;
    color: black;
    margin: 20px;
    font-size: 25px;
    font-weight: -9;
    
    
}

#part2 a:nth-last-child(1){
    position: relative;
    padding: 7px 18px;
    border: 1px solid black;
    border-radius: 50px;
    overflow: hidden;
  
}
#part2 a:nth-last-child(1) #green{
    width: 100%;
    position: absolute;
    top: 0%;
    left: -100%;
    
    background-color: springgreen;
    height: 100%;
    transition: left 0.4s ease;

}
#part2 a:nth-last-child(1) h5{
    font-weight: 100;
    position: relative;
    z-index: 99;
}
#part2 a:nth-last-child(1):hover #green{
    left: 0;
}
#main>h1{
    font-size: 5.5vw;
    text-transform: capitalize;
    font-weight: 100;
    text-align: center;
    z-index: 99;
    width: 60%;
    font-family: gillroy;
    position: relative;
    
    
}
#main>h1::after{
    content: "";
    position: absolute;
    background-image:url(file:///C:/Users/Ritik%20Dubey/Downloads/underline-green.svg);
    bottom: -5%;
    left: 34%;
    background-size: cover;
   z-index: 99;
    transform: translate(-50% 0%);
    width: 32%;
    height: 16px;

    
    

}

#main #m4{
    height: 500px;
    width: 300px;
    position: absolute;
    left: 6%;
    top: 20%;

}
#main #m3{
    height: 250px;
    width:305px;
    position: absolute;
    left: 53%;
    top: 18%;
  

}
#main #m2{
    height: 280px;
    width: 260px;
    position: absolute;
    left: 75%;
    top: 60%;

}
#main img{
    transition: margin 0.4s ease ;
    object-fit: cover;
}
#main img:hover{
    margin: -20px;
}
#nav h1{
    transition: margin 0.4s ease;
}
#nav h1:hover{
   margin-top: -10px;
}
#p{
    color:  rgb(9, 255, 132);
}
